<div class="background"style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dbjtqhjxi/image/upload/v1593859339/adam-jaime-YeH5EIRFCIs-unsplash_exheje.jpg');background-size: cover;">
<div class="container text-white">
  <div class="row justify-content-center pt-4">
    <div class="col-md-8">
      <h1>Create a new cocktail</h1>

      <%= simple_form_for @cocktail, html: { autocomplete: 'off' } do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: 'btn btn-warning' %>
      <% end %>
      <p class="link"><%= link_to "Cancel", root_path, class: "btn btn-danger m-2" %></p>
    </div>
  </div>
</div>

</div>
