<div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo.key, height: 400, width: 500, crop: :fill %>);">
<div class="container">

  <h1 class="header"><%= @cocktail.name %></h1>
  <p class="link"><%= link_to "Back to all cocktails", root_path, class: "show-link" %></p>

<div class="banner">

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3 class="dose-header">Recipe</h3>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th class="table-head text-white">Ingredient</th>
            <th class="table-head text-white">Description</th>
            <th class="table-head text-white">Action</th>
          </thead>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td class="table-head text-white"><%= dose.ingredient.name %></td>
              <td class="table-head text-white"><%= dose.description %></td>
              <td>
                <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_dose"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
    </div>
  </div>
</div>

</div>
